@charset "utf-8";
#todo {
	background-color: ;
	height: 550px;
	width: 950px;
	margin:0 auto;
}
#cabecera {
	background-color: #0D96ED;
	height: 65px;
	width: 950px;
	position:absolute;
	top: 0px;
}


#lineaseparadora {
	background-color: green;
	height: 5px;
	width: 950px;
	top:100;
}
#centro {
	background-color: ;
	height: 400px;
	width: 950px;
	position: absolute;
	top: 105px;
}
#piedepag {
	color:white;
	background-color: #0D96ED;
	height: 50px;
	width: 950px;
	position: absolute;
	top: 510px;
	text-align:center;
	font:Verdana, Geneva, sans-serif;
	font-size:15px;
}
#titulo {
	color:white;
	height: 45px;
	width: 500px;
	position: absolute;
	top: 1px;
	font-size: 40px;
	font-family: Georgia, "arial", Times, serif;
	font-weight: bold;
	left: 14px;
}
#subtitulo {
	height: 15px;
	width: px;
	position: absolute;
	top: 38px;
	font-size: 18px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	left: 15px;
	text-align:center;
	 color:white;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  line-height: 1;
}
#cssmenu ul {
  top: 55px;
}
#cssmenu > ul > li {
  float: right;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #BBBBBB;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: blue;
}
#centroserv {
	background-color: blue ;
	height: 420px;
	width: 950px;
	position: absolute;
	top: 105px;
}
#centropromo {
	background-color: blue ;
	height: 900px;
	width: 950px;
	position: absolute;
	top: 105px;
	}
	
#centrocontacto {
	background-color: blue ;
	height: 700px;
	width: 950px;
	position: absolute;
	top: 105px;
}
#lineaseparadoracontacto{
	background-color:white;
	height: 5px;
	width: 950px;
	top: 805px;
}			
#piedepagcontacto {		
background-color: blue;
	height: 50px;
	width: 950px;
	position: absolute;
	top: 810px;
	text-align:center;
	font:Verdana, Geneva, sans-serif;
	font-size:15px;
}
#todocontacto {
	background-color: blue;
	height: 853px;
	width: 950px;
	margin:0 auto;
}
#todopromo {
	background-color: blue;
	height: 1186px;
	width: 950px;
	margin:0 auto;
}
#lineaseparadorapromo{
	background-color: green;
	height: 5px;
	width: 950px;
	top: 1138px;
}			
#piedepagpromo {		
background-color: blue;
	height: 50px;
	width: 950px;
	position: absolute;
	top: 1143px;
	text-align:center;
	font:Verdana, Geneva, sans-serif;
	font-size:15px;
}
#todoserv {
	background-color: ;
	height: 580px;
	width: 950px;
	margin:0 auto;
}
#lineaseparadoraserv{
	background-color: ;
	height: 5px;
	width: 950px;
	top: 525px;
}			
#piedepagserv {		
background-color: blue;
color:white;
	height: 50px;
	width: 950px;
	position: absolute;
	top: 530px;
	text-align:center;
	font:Verdana, Geneva, sans-serif;
	font-size:15px;
}
